/.venv/
/.idea/
/data/raw_zips/*
/downloads/*
/models/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
baseline/saves/
baseline/submit.zip
baseline/chinese_bert_wwm_ext/
newline/chinese_bert_wwm_ext/
newline/chinese_roberta_wwm_ext/
newline/saves/
*.bin
